---
// Redirect to default language (O'zbekcha)
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/uz/">
  <link rel="canonical" href="https://yuzinchi.uz/uz/">
  <script>window.location.href = '/uz/';</script>
  <title>Yuzinchi Marketing Agency</title>
</head>
<body>
  <p>Redirecting to <a href="/uz/">O'zbek versiyasi</a>...</p>
</body>
</html>
